@charset "utf-8";
/* CSS Document */
*{
	margin: 0;
	padding: 0;
}
header{
	background-image: url("../image/background_1.png")
}
body{
	background-color: #2E2E2E;
	font-family: "Montserrat";
	color: white;
}
a{
	text-decoration: none;
	color: white;
}
a:hover{
	color: #6A6A6A;
}
.hat_topnav a{
	margin-top: 30px;
	vertical-align: middle;
	margin-right: 30px;
	font-size: 20px;
}
.hat_background{
	position: absolute;
}
.hat_text_1{
	font-size: 26px;
	margin-top: 120px;
}
.hat_button{
	font-size: 24px;
	margin-top: 120px;
}
.hat_button a{
	border: 3px solid #959595;
	border-radius: 7px;
	padding-top: 5px;
	padding-right: 10px;
	padding-left: 10px;
	padding-bottom: 5px;
}
.body_block_1{
	margin-top: 60px;
}
.body_block_1_text_1{
	margin-bottom: 20px;
	margin-left: 40px;
	font-size: 40px;
	display: inline-block;
}
.body_block_1_text_2{
	margin-bottom: 30px;
	margin-left: 40px;
	font-size: 25px;
	display: inline-block;
}
.body_block_1_button{
	font-size: 26px;
    margin-left: 40px;
	border: 3px solid #6A6A6A;
	border-radius: 7px;
	padding-top: 5px;
	padding-right: 10px;
	padding-left: 10px;
	padding-bottom: 5px;
	display: inline-block;
}
.body_block_2_text_1{
	font-size: 40px;
	margin-bottom: 30px;
	margin-right: 40px;
}
.body_block_2_text_2{
	font-size: 24px;
	margin-bottom: 30px;
	margin-right: 40px;
}
.body_block_2_button{
	font-size: 20px;
	border: 3px solid #6A6A6A;
	border-radius: 5px;
	padding-top: 5px;
	padding-right: 10px;
	padding-left: 10px;
	padding-bottom: 5px;
}
.body_block_2_button a{
	border: 3px solid #6A6A6A;
	border-radius: 5px;
	padding-top: 5px;
	padding-right: 10px;
	padding-left: 10px;
	padding-bottom: 5px;
}
.body_blocktext_1_text_1{
	margin-left: 60px;
	margin-top: 70px;
	margin-bottom: 20px;
	font-size: 50px;
}
.body_blocktext_1_text_2{
	margin-left: 60px;
	margin-top: 25px;
	margin-bottom: 15px;
	font-size: 45px;
}
.body_blocktext_1_text_3{
	margin-left: 60px;
	margin-top: 15px;
	margin-bottom: 45px;
	font-size: 30px;
}
.body_blocktext_2_text_1{
	margin-left: 60px;
	margin-top: 25px;
	margin-bottom: 15px;
	font-size: 45px;
}
.body_blocktext_2_text_2{
	margin-left: 60px;
	margin-top: 15px;
	margin-bottom: 45px;
	font-size: 30px;
}
.body_blocktext_3_text_1{
	margin-left: 60px;
	margin-top: 25px;
	margin-bottom: 15px;
	font-size: 45px;
}
.body_blocktext_3_text_2{
	margin-left: 60px;
	margin-top: 15px;
	margin-bottom: 45px;
	font-size: 30px;
}
.body_blocktext_4_text_1{
	margin-left: 60px;
	margin-top: 25px;
	margin-bottom: 15px;
	font-size: 45px;
}
.body_blocktext_4_text_2{
	margin-left: 60px;
	margin-top: 15px;
	margin-bottom: 45px;
	font-size: 30px;
}
.body_blocktext_5_text_1{
	margin-left: 60px;
	margin-top: 25px;
	margin-bottom: 15px;
	font-size: 45px;
}
.body_blocktext_5_text_2{
	margin-left: 60px;
	margin-top: 15px;
	margin-bottom: 45px;
	font-size: 30px;
}
.body_range{
	background: #181818;
}
.body_block_3_text_1{
	margin-bottom: 20px;
	margin-left: 40px;
	font-size: 40px;
}
.body_block_3_text_2{
	font-size: 24px;
	margin-bottom: 30px;
	margin-left: 40px;
}
.footer{
	background: #0A0A0A;
}
.vk{
	margin-left: 20px;
}
.pinterest{
	margin-left: 20px;
}
.lightthemeicon{
	float: right;
	margin-right: 20px;
}
.aboutus{
	margin-left: 20px;
}
.sourcecode{
	margin-left: 20px;
}
.number{
	margin-left: 20px;
}
.email{
	margin-left: 20px;
}
.testsketch{
	font-size: 14px;
	float: right;
	margin-right: 20px;
}
.indent_1{
	margin-left: 60px;
}
.indent_2{
	margin-bottom: 10px;
	margin-top: 10px;
}
.bb3{
	margin-right: 70px;
	margin-left: 70px;
}
.bb4{
	margin: 30px;
}
.indent_5{
	margin: 20px;
}

